<?xml version="1.0" encoding="UTF-8"?>

<configuration packagingData="true">
    <springProfile name="local">
        <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
        <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>${CONSOLE_LOG_PATTERN}</pattern>
                <charset>utf8</charset>
            </encoder>
        </appender>
        <root level="info">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>

    <springProfile name="dev">
        <shutdownHook class="ch.qos.logback.core.hook.DelayingShutdownHook"/>
        <timestamp key="timestamp" datePattern="yyyyMMddHHmmssSSS"/>
        <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
        <appender name="ASYNC_AWS_LOGS" class="ca.pjer.logback.AwsLogsAppender">
            <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
                <level>WARN</level>
            </filter>
            <layout>
                <!--                <pattern>%d{yyyyMMdd'T'HHmmss} %thread %level %logger{15} %msg%n</pattern>-->
                <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%X{requestId}] [%X{requestUrl}] [%X{clientIP}] [%thread] %-5level %logger{36} - %msg%n</pattern>
            </layout>
            <logGroupName>2023-dong-gle-dev</logGroupName>
            <logRegion>ap-northeast-2</logRegion>
            <maxBatchLogEvents>50</maxBatchLogEvents>
            <maxFlushTimeMillis>30000</maxFlushTimeMillis>
            <maxBlockTimeMillis>5000</maxBlockTimeMillis>
            <retentionTimeDays>0</retentionTimeDays>
        </appender>

        <root level="INFO">
            <appender-ref ref="ASYNC_AWS_LOGS"/>
        </root>
    </springProfile>

    <springProfile name="prod">
        <shutdownHook class="ch.qos.logback.core.hook.DelayingShutdownHook"/>
        <timestamp key="timestamp" datePattern="yyyyMMddHHmmssSSS"/>
        <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
        <appender name="ASYNC_AWS_LOGS" class="ca.pjer.logback.AwsLogsAppender">
            <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
                <level>WARN</level>
            </filter>
            <layout>
<!--                <pattern>%d{yyyyMMdd'T'HHmmss} %thread %level %logger{15} %msg%n</pattern>-->
                <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%X{requestId}] [%X{requestUrl}] [%X{clientIP}] [%thread] %-5level %logger{36} - %msg%n</pattern>
            </layout>
            <logGroupName>2023-dong-gle-prod</logGroupName>
            <logRegion>ap-northeast-2</logRegion>
            <maxBatchLogEvents>50</maxBatchLogEvents>
            <maxFlushTimeMillis>30000</maxFlushTimeMillis>
            <maxBlockTimeMillis>5000</maxBlockTimeMillis>
            <retentionTimeDays>0</retentionTimeDays>
        </appender>

        <root level="INFO">
            <appender-ref ref="ASYNC_AWS_LOGS"/>
        </root>
    </springProfile>
</configuration>
